.status {
  padding: 3.5rem 4rem;
  display: flex;
  background-color: white;
  margin-top: -4rem;
  align-items: center;
  span {
    margin-left: 1rem;
    color: $color-primary;
  }
  @include respond(phone) {
    padding: 2.5rem 1.6rem;
    h2 {
      font-size: 2rem;
    }
  }
}

.quick-stats {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 2rem 1.6rem;
  @include respond(tab-land) {
    flex-direction: column;
  }
  & > div {
    position: relative;
    @include respond(tab-land) {
      padding-bottom: 2rem;
      border-bottom: 1px solid $color-border;
      margin-bottom: 2rem;
    }
    &:not(:first-child) {
      padding-left: 9rem;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 4.5rem;
        border-left: 1px solid $color-border;
      }
      @include respond(tab-land) {
        padding-left: 0;
        padding-bottom: 2rem;
        &::before {
          left: 0;
          border-left: none;
        }
      }
    }
  }
  .text-percentage {
    font-size: 2rem;
    font-weight: bold;
  }
  .text-muted {
    color: #687790;
    padding-top: 0.5rem;
    font-weight: 300;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $color-muted;
  align-items: center;
  .api {
    width: 35rem;
    text-transform: uppercase;
    cursor: pointer;
    @include respond(phone) {
      width: 20rem;
    }
  }
  .percentage {
    color: $color-primary;
  }
  .server-status {
    $color: $color-primary;
    span {
      color: $color-primary;
    }
    .dot {
      margin-right: 1rem;
    }
  }
}
