.movies {
  // didn't put movie here because of performace consideration.
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.6rem;
}
.movie-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include respond(tab-land) {
    justify-content: space-evenly;
  }
}
.movie {
  flex-grow: 1;
  max-width: 38rem;
  margin: 1.5rem 0;
  height: 25.5rem;
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  background-color: white;
  padding: 0;
  &__img {
    position: relative;
    width: 25.2rem;
    img {
      // width: 25rem;
      border-radius: 0.5rem 0 0 0.5rem;
    }
  }
  &__info {
    position: relative;
    flex-grow: 1;
    padding: 1rem 1.5rem;
    background-color: $color-bg;
    flex-basis: calc(68% - 1rem);
    @include respond(phone) {
      padding: 1rem;
      transform: none;
    }
    &:before {
      content: "";
      width: 17px;
      height: 100%;
      background: white;
      display: block;
      /* overflow: hidden; */
      position: absolute;
      left: -10px;
      top: 0;
      transform: skewX(-3deg);
    }
  }
  &__title {
    font-weight: bold;
    font-size: 2.2rem;
    color: $color-primary;
    margin-bottom: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    // transform: skewX(10deg);
    @include respond(phone) {
      transform: none;
    }
  }
  &__year {
    font-size: 1.8rem;
    // transform: skewX(10deg);
    color: $color-tertiary;
    @include respond(phone) {
      transform: none;
    }
  }
}

.search {
  &-icon {
    display: flex;
    align-items: center;
    padding: 1rem;
    img {
      width: 2rem;
    }
  }

  &-input {
    width: 35rem;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    // &--title {
    //     width: 300px;
    // }
  }
}

.control-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  @include respond(phone) {
    flex-direction: column;
  }
}
