$color-primary: #7faae4;
$color-secondary: #834db7;
$color-tertiary: #34283f;
$color-bg: white;

$font-primary: "Helvetica Neue";

$default-font-size: 1.6rem;
$heading-font-size: 1.8rem;

// or css native variables
// --main-bg-color: brown;
// background : var(--main-bg-color)
