$color-primary: #3bd671;
$color-secondary: #131a26;
$color-tertiary: #34283f;
$color-border: #e5e5e5;
$color-muted: #f6dfdf;
$color-text: white;
$color-bg: white;

$font-primary: "Helvetica Neue";

$default-font-size: 1.6rem;
$heading-font-size: 1.8rem;

// or css native variables
// --main-bg-color: brown;
// background : var(--main-bg-color)
